.History-cards-wrapper {
    margin-left: 25%;
    margin-right: 25%;  
}

.ui.grid>.row>[class*="center aligned"].column.column {
    display: flex;
    justify-content: center;
    align-items: center;    
}