.About {
  
}

.About{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 500px;
}

.About-content-wrapper{
    width: 80%;

    text-align: right;
    margin-right: 100px;

}

.About-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.About-image{
    width: 40%;
   
}

.About-text{
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.About-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.About-segment{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    
}

.teste1{
    
}

.teste2{
    
}

.Segment-teste{
    display: flex;
    flex-direction: column;
}