.About {
    font-family: 'AlwynNewRounded-Light';
}

.About{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 500px;
}

.About-content-wrapper{
    width: 100%;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
}

.About-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.About-text{
    height: 40%;
    width: 70%;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.About-wrapper{
    display: flex;
    justify-content: space-evenly; 
    
}

.About-segment{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;

   

}


.About-self-text p{
   font-size: 25px;
   font-family: AlwynNewRounded-Light;
 
  
}

p {
    font-family: AlwynNewRounded-Light;
}
