.List{
    height: 50%;

    display: flex;
    flex-direction: column;

    border: thin solid orange;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 20px; 
}

ul a {
    color: white;
    text-decoration: none;
}