.ui.container.inv-lat-marg.mobile {
    margin-left: -15px !important;
    margin-right: -15px !important;
    max-width: 110% !important;
}

.ui.menu .ui.dropdown .menu>.item {
    color: white !important;
    stroke-width: 0.25px !important;
}

.Navbar {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;

}

#Menu-items {
    font-family: "AlwynNewRounded-Light";
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}