.Navbar {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;

}

#Menu-items {
    font-family: "AlwynNewRounded-Light";
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

a {
    color: #212121;
}