.Landing {
    font-family: 'AlwynNewRounded-Light';
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 500px;
}
.Landing-wrapper{
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row;
}

.Landing-content-wrapper{
    width: 100%;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
}

.Landing-text{
    height: 40%;
    width: 70%;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.Landing-segment{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;

   

}

.Landing-self-text{
    margin-top: 100px;

}

.Landing-image{
    padding-right: 0;
}

.Landing-self-text p{
    font-size: 25px;
    font-family: AlwynNewRounded-Light;
   
   
 }

 .Landing-title{
    font-family: AlwynNewRounded-Bold;
    font-size: 45px;
    margin-bottom: 25px;
    font-style: bold;
 }