.Footer{
    padding-top: 50px;
    background-color: #212121;
}

.Footer-Grid-1{
    margin-bottom: 100px;
}


.Grid-column3{
    display: flex;
   
}

.Grid-row1{
    height: 100%; 
}

.Grid-row2{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
}

.Footer-pet-logo{
    width: 100%;
    height: 100%;
    
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.Footer-pet-rights{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.Footer-pet-social{
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

.Footer-contato{
    display: flex;
    justify-content: center;
    width: 40%;
}

.Footer-info{
    display: flex;
    width: 30%;
}

.Footer-top{
    margin-bottom: 50px;
}
