.Footer{
    padding-top: 50px;
    background-color: #212121;
}



.Grid-column3{
    display: flex;
    border: thin solid black;
}

.Grid-row1{
    height: 100%; 
}

.Grid-row2{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
}

.Footer-pet-logo{
    width: 30%;
    height: 100%;
}

.Footer-pet-rights{
    width: 30%;
    height: 100%;}
.Footer-pet-social{
    width: 30%;
    height: 100%;}

.Footer-contato{
    display: flex;
    justify-content: center;
    width: 40%;
}

.Footer-info{
    display: flex;
    width: 30%;
}